$fa-font-path: "./../node_modules/@fortawesome/fontawesome-free/webfonts";

// Colors
$color-white: #FFFFFF;
$color-light: #FAFAFA;
$color-grey: #888888;
$color-brown: #B18D5B;
$color-black: #000000;

$background-color: hsl(18, 92%, 95%);
$secondary-color: hsl(163, 38%, 62%);
$secondary-color-hover: #4aa48a;
