header {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
}

.info-container {
    min-width: 300px;
}

.sign-in-button {
    background-color: $secondary-color;
    border: none;
    text-decoration: none;
    color: white;
}

.fa_bars--color{
    color: #888;
    display: contents;
}