.fa-bars{
    color: #888;
}

header {
    font-size: 1.3rem;
}

.info-container {
  min-width: 300px;
}

.sign-in-button {
    background-color: $secondary-color;
    border: none;
    text-decoration: none;
    color: white;
}