// Colors
$color-white: #FFFFFF;
$color-light: #FAFAFA;
$color-grey: #888888;

$color-black: #000000;

$color-primary: #ffcf00;
$color-dark: #282828;

$fa-font-path: "./../../node_modules/@fortawesome/fontawesome-free/webfonts";